// Define variables for your color scheme
$orange: rgba(255, 190, 152, 1);
$green: rgba(94, 181, 142, 1);
$white: rgba(251, 251, 251, 1);
$salmon: rgba(255, 244, 235, 1);;
$black: rgba(17, 17, 17, 1);
$grey: rgba(209, 209, 209, 1);
