// Define variables for your color scheme
$white: rgba(255, 255, 255, 1);
$salmon: rgba(255, 245, 230, 1);
$gray: rgba(209, 209, 209, 1);
$orange: rgba(255, 196, 99, 1);
$yellow: rgba(255, 212, 141, 1);
$red: rgba(255, 164, 164, 1);
$pink: rgba(253, 208, 231, 1);

// bootstrap colors

$red-bts: #FD1015;
$blue-bts: #0D6EFD;
$yellow-bts: #FFC65A;
$orange-bts: #E67E22;
$green-bts: #40E29A;
$gray-bts: #0E0000;
$light-gray-bts: #F4F4F4;
$badge-text-color: black
