.form-input {
  color: black !important;
  // background-color: white !important;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 55px;
  // box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;

  &::placeholder {
    color: $red !important;
  }
}

.form-input:focus {
  outline: none;
  border-bottom: 1px solid black;
  box-shadow: none;
}

.form-input-square {
  color: black !important;
  // background-color: white !important;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
}

.form-input::placeholder {
  color: $salmon;
}

.form-input-square:focus {
  outline: none;
  border-bottom: 1px solid black;
  box-shadow: none;
}

.form-input-rectangle {
  color: black !important;
  // background-color: white !important;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100px;
  height: 55px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
}

.form-input::placeholder {
  color: $salmon;
}

.form-input-big-rectangle {
  color: salmon !important;
  // background-color: white !important ;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 150px;
  height: 55px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
}

.form-input::placeholder {
  color: #ffbe98;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-with-text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-text {
  margin-left: 10px;
}

.recipe_categories {
  input {
    display: none;
  }

  input:checked + label {
    background-color: #ffbe98;
    color: #fff4eb;
  }
}

.choice-card {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
  background-color: $red;
  color: white;

  &:hover {
    background-color: #ffbe98;
  }
}

.form-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
