// Specific CSS for your home-page
.landing-header {
  .form-control {
    width: auto;
  }
  h3 {
    font-weight: bold;
    color: black;
  }
  .bg-index {
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-image: asset-url('bg-index.svg');
  }
}
  .title {
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    margin: 3px;
    color: black;
    font-style: bold;
  }

  .input-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }

.d-flex.overflow-x-auto {
  overflow-x: auto;
}
