.container-password {
  margin: 0 auto;
  width: 75%; /* Ajustez la largeur selon vos préférences */
  border: 2px solid #FF4051; /* Couleur et épaisseur de la bordure */
  padding: 20px; /* Espacement à l'intérieur de la bordure */
  border-radius: 30px;
  background-color: white;
  margin-top: 40px !important;
}

.text-password {
  background-color: #FF4051 !important;
  border-radius: 30px;
  width: 36%;
  justify-content: center !important;
  display: flex;
}
.title-typo-password{
  font-family: 'Quicksand';
  font-size: 20px;
  padding-top: 40px;
}
.link-password {
  a {
    text-decoration: none !important;
    color: black;
    font-size: 10px;
  }
}
.link{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
