<%= remove_associated_record(tag: :div) do %>
  <div class="w-100 d-flex justify-content-end">
    <i class="fas fa-xmark"></i>
  </div>
<% end %>
<%= f.input :instruction,
  required: false,
  label: "Ajouter une étape",
  placeholder: "Ex : Mélanger les oeufs et le sucre",
  input_html: { class: "form-input my-auto"} %>
<%= f.hidden_field :_destroy %>
