<%= form_with url: my_recipes_path, method: :get, class: "d-flex"  do %>
    <%= text_field_tag :query,
              params[:query],
              class: "form-control form-control-sm", id: "input_field",
              placeholder: "Envie de... ?" %>
    <button type="submit" class="btn form-control-sm", id="btn_search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  <% end %>
