<div class="container landing-header px-4 pt-4">
  <div class="d-flex justify-content-center text-center">
    <h3 class="flex-grow-1"> Inspiration</h3>
  </div>
</div>

<% if @popular_recipes.any? %>
  <div class="mt-4 pt-1 bg-white rounded-2">
    <div class="container">
      <h3 class="title">Les recettes populaires 💫</h3>
      <div class= "d-flex overflow-x-auto p-2" id="fav-recipes-container">
        <%= render "recipes/card", recipes: @popular_recipes %>
      </div>
    </div>
  </div>
<% end %>

<div class="mt-4 pt-1 bg-white rounded-2">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="title">Découvrir des recettes 👀</h3>
       <%= link_to "Voir tout", recipes_path, class:"see-all" %>
    </div>
    <div class="input-grid">
      <%= render "recipes/card", recipes: @preview_recipes %>
    </div>
  </div>
</div>
