<% if notice %>
  <div data-controller="alert" class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div data-controller="alert" class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
  </div>
<% end %>
