
<%# Card Recipe %>

<div class ="card-recipe">
  <div class="square">
  </div>
  <h2 class="recipe-name">Nom de la recette</h2>
    <span class="time-recipe fa-solid fa-timer">temps</span>
    </div>

<br>
<%# Tiny Circle %>
<div class="tiny-circle">
</div>
<br>
<%# tiny_square %>
<div class="tiny-square">
</div>
<br>
<%# save_button %>
<div class="save-button">
</div>
