
<%# Card Recipe %>

<div class ="card-recipe">
  <div class="square">
  </div>
  <p>Nom de la recette</p>
</div>

<br>

<%# Tiny Circle %>
<div class="tiny-circle">
<%# tiny_square %>
<div class="tiny-square">
</div>
<br>
<%# save_button %>
<div class="save-button">
</div>
