
<%# Card Recipe %>

<div class ="card-recipe">
  <div class="square">
  </div>
  <h2 class="recipe-name">Nom de la recette</h2>
  <i class="fa-regular fa-clock"></i>
      <span class="time-recipe">temps</>
    </div>

<br>

<%# Tiny Circle %>
<div class="tiny-circle">
</div>
