.alert {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  padding: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-out, fadeOut 1s ease-in 1s forwards;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
