.card-recipe {
  width: 153px;
  border: 1px;
  background-color: #FFF8E6;
  font-size: 14px;
  flex-grow: 0;
  flex-shrink: 0;
}

.input-grid .card-recipe {
  width: auto;
}

.square {
  // width: 153px;
  height: 153px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: #D1D1D1;
}

.recipe-name {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: bold;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis
}

.time-recipe {
  font-size: 11px;
  font-weight: bold;
}
