.recipe-preview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  position: relative;

  .recipe-image {
    border-radius: 5px;
    height: 100px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #avatar-cookbook {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
