.card-recipe {
  width: 9.5em;
  height: 12em;
  border: 1px;
  background-color: white;
}

.square {
  width: 9.5em;
  height: 9.5em;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: #D1D1D1;
}
