.form-input {
  color: black !important;
  background-color: white !important;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 55px;
  box-sizing: border-box;

  &::placeholder {
    color: $salmon;
  }
}

.form-input-square {
  color: black !important;
  background-color: white !important;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
}

.form-input::placeholder {
  color: $salmon;
}

.form-input-rectangle {
  color: black !important;
  background-color: white !important;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100px;
  height: 55px;
  box-sizing: border-box;
}

.form-input::placeholder {
  color: $salmon;
}

.form-input-big-rectangle {
  color: salmon !important;
  background-color: white !important ;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 150px;
  height: 55px;
  box-sizing: border-box;
}

.form-input::placeholder {
  color: #FFBE98;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.input-with-text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-text {
  margin-left: 10px;
}

// .input-wrapper {
//   background-color: #ffe3d3;
//   border-radius: 10px;
// }

// .form-group {/* Remove default margin-bottom */
// }

// label {
//   display: block;
//   text-align: center;
//   margin-bottom: 5px;
// }

// input, select {
//   width: calc(100% - 20px);
//   margin: 0 auto;
//   display: block;
// }

// .select-dropdown {
//   appearance: none;
//   background-color: transparent;
//   border: none;
//   cursor: pointer;
// }

.recipe_categories {
  input {
    display: none;
  }

  input:checked + label {
    background-color: #FFBE98;
    color: #FFF4EB;
  }
}
