.navbar {
  width: 100vw;
  height: 6em;
  background-color: white;

  a {
    width: 1%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.navbar .navbar-brand img {
  width: 25px;
  opacity: 0.5
}

.navbar-add {
  background-color: #FF4051;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 55px;
  width: 55px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  flex-grow: 0 !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.button-on-navbar img {
  opacity: 1 !important;
}

.book-icon {
  width: 29px !important;
}
