#input_field {
  border-radius: 50px 0 0 50px;
  outline: none;
  border-top: 2.5px solid $black;
  border-bottom: 2.5px solid $black;
  border-left: 2.5px solid $black;
  border-right: none;
  border-style: 4px solid black;
}

#btn_search {
  border-radius: 0 50px 50px 0;
  border-top: 2.5px solid $black;
  border-bottom: 2.5px solid $black;
  border-right: 2.5px solid $black;
  border-left: none;

}

.form-control-sm {
  background-color: rgba(226, 246, 148, 0.57);
  border-style: 4px solid black;;
}
