// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "recipes/index";

body {
  font-size: 16px;
}

.content_container {
  min-height: calc(100vh - 96px);
  max-height: calc(100vh - 96px);
  margin-bottom: 96px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.content_container_without_navbar {
  min-height: calc(100vh);
}

.background-devise {
  background-image: asset-url('bg-devise.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-home {
  background-image: asset-url('bg-home.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
